/*reset*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/**/

/*commons*/
body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    text-decoration: none;
    border: 1px solid gray;
    padding: 3px;
    border-radius: 3px;
}

.btn-blue{
    background-color: #15b6ec;
    border-color: #15b6ec;
    color: white;
}

.btn-disabled{
    border-color: grey;
    color: grey;
}

.main-voice{
    font-size: 20px;
    font-weight: 600;
}

.sign{
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    width: 16px;
}


/*end area comune*/

/*header style*/
header{
    background-color: white;
    height: 50px;
}

h1{
    font-weight: 780;
    padding-top: 6px;
}
/*end header style*/

/*main style*/
.container{
    background-color: white;
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
    padding-bottom: 30px;
    border-radius: 10px;
}

ul{
    list-style-type: none;
}

label{
    font-size: 11px;
    color: white;
    border: 1px solid black;
    background-color: black;
    border-radius: 20px;
    padding: 4px 8px 4px 8px;
}

.blu-lab{
    border-color: #15b6ec;
    background-color: #15b6ec;
}

.green-lab{
    border-color: #12b468;
    background-color: #12b468;
}

.pink-lab{
    border-color: #ec15bd;
    background-color: #ec15bd;
}

.violet-lab{
    border-color: #7915ec;
    background-color: #7915ec;
}

.fluo-lab{
    border-color: #6fec15;
    background-color: #6fec15;
}

.orange-lab{
    border-color: orange;
    background-color: orange;
}

.check{
    border: 1px solid green;
    color: green;
    
}
.cross{
    border: 1px solid red;
    color: red;
}

.top{
    border-bottom: 1px solid lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.task{
    color:rgba(16, 16, 16, 0.8);
    padding-left: 30px;
    padding-right: 30px;
}

.main-interline{
    padding-top: 20px;;
}

.middle-interline{
    padding-top: 15px;
    font-weight: 500;
}
/*end main style*/

